html {
  font-size: 62.5%;
}
body,
h1,
div {
  margin: .0rem;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.7rem;

}
h1,
h2 {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-transform: uppercase;
  color: #e3e3e3;
  font-weight: 500;
  font-size: 5vw;
  z-index: 2;
}

section {
  padding-bottom: 2.0rem;
  display: grid;
}
.fa {
  font-size: 7vw;
  color: #557A95;
  margin: 0vh 2vw 0vw 2vw;
}
#name {
  grid-row: 1;
  grid-column: 1 /span 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* ^^^GENERAL FORMATTING^^^ */
/* HEADER */

header,
footer {
  height: 5.0rem;
  background-image: linear-gradient(to right, #fefefe, #938e94);
  font-size: 1.6rem;
}

nav {
  height: 5.0rem;
  /* margin-right: 1.0rem; */
}

#navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0, auto;
  color: 7395AE;
}
nav,
li {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  margin: .0rem 2.5rem;
  padding: .0rem 1.0rem;
  display: flex;
  justify-content: space-between;
}


nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a:visited {
  text-decoration: none;
  color: #557A95;
}

nav li:hover {
  padding: 1.0rem;
  border-radius: .5rem;
  cursor: pointer;
}

#monogram {
  display: none;
  width: 7.5rem;
  height: 7.5rem;
  padding: .5rem;
  opacity: 0.4;
  position: fixed;
}
/* DROPDOWN MENU FOR SMALLER SCREENS */
  .navbar {
    overflow: hidden;
    background-color: transparent;
    display: none;
  }
  
  .navbar a:link a:visited {
    float: left;
    font-size: 1.7rem;
    color: white;
    text-align: center;
    padding: 1.3rem 1.5rem;
    text-decoration: none;
  }
  .fa-bars {
    font-size: 2.0rem;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 1.6rem;  
    border: none;
    outline: none;
    color: white;
    padding: 1.4rem 1.6rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  } */
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 1vw;
    background-color: inherit;
    width: 13.0rem;
    box-shadow: .0rem .8rem 1.6rem .0rem rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
/* FIRST SECTION */
.seperator {
  color: transparent;
  height: .0rem;
  width: 40vw;
  border-bottom: .3rem solid #557A95;
  z-index: 2;
}

.first {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 35.0rem 25.0rem 25.0rem;
  padding: .0rem;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}

.first img {
  animation: fade-out 5s ease-in;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 85.0rem;
}

.first h1 {
  color: #557A95;
  font-size: 11vw;
  margin-top: 10.0rem;
}

.summary {
  grid-column: 1 / span 3;
  margin: .0rem 10em;
  line-height: 1.1;
}

.summary p {
  color: #557A95;
  font-weight: 900;
  font-size: 2.2em;
  justify-content: space-evenly;
  text-align: center;
  padding: 3rem;
}
/* FAMILY SECTION */
.content {
  transition: opacity ease-in-out 2s;
  border: .1rem solid black;
  height: 32.5rem;
  width: 32.5rem;
  margin: 0 auto;
  padding: 1.0rem;
  opacity: 0.4;
  border-radius: 1.0rem;
  align-items: center;
}
.content:hover {
  transition: box-shadow 2s;
  box-shadow: 1.0rem 1.0rem 1.3rem .0rem rgba(0,0,0,0.43);
}
.family {
  background-color: #938e94;
  grid-template-rows: 20.0rem 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2.0rem;
}
.family h2 {
  font-size: 2vw;
  font-weight: 300;
  color: #e3e3e3;
}

.family p {
  width: 90%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: .1rem groove #557A95;
  overflow: scroll;
  background-color: #b1a296;
  box-shadow: 1.0rem 1.0rem 1.3rem .0rem rgba(0,0,0,0.16);
}

.profilePic {
  transition: all .5s ease-out;
  width: 15.0rem;
  height: 15.0rem;
  border-radius: .5rem;
}

.profile:Hover {
  transition: all .5s ease-in .2s;
  opacity: 1;
}

.profilePic:Hover {
  transition: all .3s ease-out;
  width: 32.0rem;
  height: 32.0rem;
  z-index: 3;
  border-radius: 1.0rem;
  cursor: zoom-in;
}

.bigProfilePic {
  width: 80.0rem;
  height: 80.0rem;
}
/* MODAL IMAGE */
@keyframes zoom {
  from{transform:scale(0)}
  to{transofmr:scale(1)}
}
#modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding: 2.5rem .0rem;
  left: 10vw;
  top: 6vh;
  width: 80%;
  max-height: 99vh;
  height: auto;
  overflow: auto;
  background-color: rgb(0,0,0,0.8);
  border-radius: 1.0rem;
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
  margin: auto;
  display: block;
  width: 70%;
  max-height: 80vh;
  height: auto;
  padding: 5.0rem .0rem;
  max-width: 70.0rem;
}
.close {
  position: absolute;
  top: 1.5rem;
  right: 3.5rem;
  color: #f1f1f1;
  font-size: 4.0rem;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.expand {
  width: 100%;
  height: 100.0rem;
}
/* HISTORY SECTION */
.history {
  background-color: #B1A296;
  grid-template-rows: 20.0rem auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.0rem;
}

.past {
  border: .1rem groove #557A95;
  margin: 0 auto;
  padding: 1.0rem;
  border-radius: 1.0rem;
  align-items: center;
  width: 90%;
}

#earlylife {
  grid-column: 1 / span 2;
}

#helicopters {
  grid-column: 1 / span 2;
}

.past h2 {
  font-size: 3vw;
  font-weight: 300;
  text-align: center;
  color: #e3e3e3;
}

.photo-reel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  overflow: scroll;
  grid-gap: 2.0rem;
  width: 90vw;
}

.photo-reel p {
  width: 35.0rem;
  color: #e0dede;
  display: flex;
  margin: 0 auto;
}
.picDescription {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 1.2rem;
}
.pic {
  margin: 1.0rem .0rem .0rem 1.0rem;
  width: 38.4rem;
  height: 21.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 1.0rem;
}
.pic:hover {
  cursor: zoom-in;
}

#farmStory {
  color: #e0dede;
  display: flex;
  margin: 1.0rem auto;
  width: 65vw;
  grid-column: 1 / span all
}
/* SKILLS SECTION */
.skills {
  background-color: #7395AE;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20.0rem 1fr;
  grid-gap: 2.0rem;
}

.skills #name {
  grid-column: 1 / span 2;
}
.projectContainer {
  grid-column: 1 / span all;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2.0rem;
}
.projects {
  height: 50.0rem;
  width: 50.0rem;
  border: .1rem groove #B1A296;
  border-radius: 1.0rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.projects img {
  opacity: 0.7;
}

.projects h2 {
  font-size: 2vw;
  color: #e3e3e3;
  font-weight: 300;
  text-align: center;
}

.projects p {
  text-align: center;
  padding: .0rem 2.0rem .0rem 2.0rem;
  color: #e3e3e3;
  font-size: 1.7rem;
}

.screenshot {
  width: 35.8rem;
  height: 29.0rem;
}
.screenshot:hover{
  cursor: zoom-in;
}

.projectButtons {
  display: flex;
}

.buttondiv {
  margin: .0rem 2.0rem;
}

.projectButtons button {
  background-color: #938e94;
  border: #B1A296 .2rem solid;
  border-radius: .3rem;
  padding: .5rem;
  cursor: pointer;
}

.projectButtons button:hover {
  box-shadow: 0 .5rem .6rem 0 rgba(0, 0, 0, 0.24), 0 .7rem .5rem 0 rgba(0, 0, 0, 0.19);
}
/* CONTACT SECTION */
.contact {
  background-color: #938e94;
  grid-template-columns: 1fr;
  grid-template-rows: 20.0rem 45.0rem 1fr;
}

fieldset {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.4rem;
  border-radius: .5rem;
  border: .1rem groove #737373;
  padding: 2.0rem;
}

.contact input {
  width: 31.6rem;
  height: 3.0rem;
  border-radius: .3rem;
}

.contact div {
  align-content: center;
}
.form {
  grid-row: 2;
}
.contact form {
  width: 35.0rem;
  height: 25.0rem;
  padding: 2.0rem;
  margin: 0 auto;
}

.contact button {
  text-align: center;
  background-color: #7395AE;
  width: 32.2rem;
  height: 2.5rem;
  color: #e3e3e3;
  border-radius: .3rem;
}
.contact button:hover {
  box-shadow: 0 .5rem .6rem 0 rgba(0, 0, 0, 0.24), 0 .7rem .5rem 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.social {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-bottom: 3.0rem;
}



.btn:hover{
  transform: translateY(-.3rem);
  /* box-shadow: 1rem 1rem 2rem rgba(2, 2, 2, 0.2); */
  /* X axis, Y axis, blur, color */
}

.btn:active{
  transform: translateY(-.1rem);
  /* box-shadow: 0rem .5rem 1rem rgba(0,0,0,.2); */
}

.btn {
  margin: 0rem;
}

/* FOOTER */
footer {
  font-weight: 600;
  display: flex;
}

.footerLinks {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footerLinks a {
  text-decoration: none;
  color: #7395AE;
}

.footerLinks a:hover {
  text-decoration: underline;
}
/* @MEDIA WIDTHS */
@media (max-width: 800px){
  html{
    font-size: 50%;
  }
  .photo-reel {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98vw;
  }
  .history {
    grid-template-columns: 1fr;
  }
  #earlylife,
  #helicopters{
    grid-column: 1;
  }
}

@media (max-width: 1000px) {
  .family {
    grid-template-rows: 20.0rem 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .photo-reel {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .first {
    grid-template-columns: 1fr;
  }
  .skills {
    grid-template-rows: 20.0rem 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .projectContainer {
    grid-template-columns: 1fr;
  }
  li {
    margin-right: 2.5rem;
  }
  #name {
    grid-column: 1 / span 2;
  }
}
@media(max-width: 700px){
  html{
    font-size: 25%;
  }
  .family {
    grid-template-rows: 20.0rem 1fr auto;
    grid-template-columns: 1fr;
  }
  li {
    margin-right: 1.0rem;
  }
  .navbar {
    display: flex;
  }
  .modal-content {
    width: 100%;
  }
  #modal{
    width: 100%;
    height: 100%;
    left: .0rem;
    top: .0rem;
  }
  #name {
    grid-column: 1;
  }
  #navLinks {
    display: none;
  }
}