images/kiwi.jpg
.DS_Store
images/3MH.jpg
images/401HQ.jpg
images/410UH.jpg
images/chad.jpg
images/etch.png
images/google_home.png
images/google_results.png
images/harper.jpg
images/heather.jpg
images/rps.png
images/rudy.jpg
images/yard.jpg
images/combine.jpeg
images/truck.jpg
rock-paper-scissors
google-homepage
Etch_a_sketch